html {
  background-color: lightyellow;
}



table {
  display: block;
  margin: 0 auto;
}

ul {
  text-align: center;
  list-style-position: inside;
}

li {
  margin-bottom: 10px;
}

h3 {
  width: 300px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
